--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.6.0+cpu
torchvision==0.21.0+cpu
torchaudio==2.6.0+cpu
numpy==1.26.4
mediapipe==0.10.14
opencv-contrib-python==4.11.0.86
jsonlines==4.0.0
filterpy==1.4.5
onnxruntime==1.27.0
tqdm==4.69.0
PySide6==6.11.1
scikit-learn==1.9.0
ncnn==1.0.20260526
PyYAML==6.0.3
python-xlib==0.33
pyorbbecsdk2==2.1.1
pyzmq==27.1.0
